<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448345120443-cejlfru81m06fersgrsj11odag8jsdm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448345120443-cejlfru81m06fersgrsj11odag8jsdm4</string>
	<key>API_KEY</key>
	<string>AIzaSyDq6_seu7fFLZTBMgirAUizYHm0f2raDD4</string>
	<key>GCM_SENDER_ID</key>
	<string>448345120443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyNames</string>
	<key>PROJECT_ID</key>
	<string>babynames-2b242</string>
	<key>STORAGE_BUCKET</key>
	<string>babynames-2b242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448345120443:ios:c5ccddac2e7c1dab</string>
	<key>DATABASE_URL</key>
	<string>https://babynames-2b242.firebaseio.com</string>
</dict>
</plist>