<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422967239119-fl44oseqqvimdb0i9n23f268ma5110qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422967239119-fl44oseqqvimdb0i9n23f268ma5110qk</string>
	<key>API_KEY</key>
	<string>AIzaSyBwJJ-HxvdtnIrKNxcfRdm9tfopHoZUz-E</string>
	<key>GCM_SENDER_ID</key>
	<string>422967239119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasestorage</string>
	<key>PROJECT_ID</key>
	<string>fir-storage-e4c5b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storage-e4c5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422967239119:ios:d97289f0aa7f70ea</string>
	<key>DATABASE_URL</key>
	<string>https://fir-storage-e4c5b.firebaseio.com</string>
</dict>
</plist>